#menu, #menu ul /* Liste */     
{
        padding : 0;
        margin : 0;
        list-style : none;
        line-height : 22px;
        text-align : center;      
}
#menu /* Ensemble du menu */
{
        font-weight : bold; /* texte gras */
        font-family : Arial;
        font-size : 14px;
        text-align: center;
}
#menu a /* Contenu des listes */
{
        display : block; /* on change le type d'élément, les liens deviennent des balises de type block */
        padding : 0; /* aucune marge intérieure */
        background : #ebece4; /* couleur de fond */        
        color : #000000; /* couleur du texte */
        text-decoration : none; /* on supprime le style par défaut des liens (la plupart du temps = souligné) */
        width : 152px; /* largeur */
}
#menu li /* Éléments des listes */      
{
        display: inline-block; 
}
#menu li ul /* Sous-listes */
{ 
	color: #67c83d;
        position: absolute; /* Position absolue */
        width: 152px; /* Largeur des sous-listes */
        left: -999em; /* Hop, on envoie loin du champ de vision */
        background: #67c83d;
        z-index: 100; 
}
#menu a:hover /* Lorsque la souris passe sur un des liens */    
{
        color: #ffffff; /* On passe le texte blanc... */
        background-color: #67c83d; /* ... et au contraire, le fond en vert */
}

.sous_menu a {
	color: #67c83d;
	background: #67c83d;
        font: bold;
}
#menu li:hover ul, #menu li li:hover ul, #menu li.sfhover ul, #menu li li.sfhover ul  /* Sous-listes lorsque la souris passe sur un élément de liste ET sous-sous-lites lorsque la souris passe sur un élément de sous-liste */
{
        left: auto; /* Repositionnement normal */
        min-height: 0; /* Corrige un bug sous IE */
}